# Make - mainly build configures
Makefile linguist-generated
*/Makefile linguist-generated
*.frag linguist-generated
*.am linguist-generated

# CMake - mainly build configures
CMakeLists.txt linguist-generated
*/CMakeLists.txt linguist-generated
*.cmake linguist-generated

# Kotlin - mainly build outputs
*.kt linguist-generated
*.kts linguist-generated

# Swift - mainly build outputs
*.swift linguist-generated

# C/C++ - mainly build outputs
*.cc linguist-generated
*.cpp linguist-generated
*.c linguist-generated
*.h linguist-generated

# JavaScript/HTML/CSS/Wasm - mainly build outputs
*.js linguist-generated
*.mjs linguist-generated
*.html linguist-generated
*.css linguist-generated
*.wasm linguist-generated

# Others
*.json linguist-generated
*.yaml linguist-generated
*.iml linguist-generated
*.properties linguist-generated
*.bin linguist-generated
*.symbols linguist-generated
.DS_Store linguist-generated
*/.DS_Store linguist-generated
